@model InShare.Model.TagEntity[]
@{
    ViewBag.Title = "标签回收站";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #pager li {
        float: left;
        margin-left: 5px;
        color: purple;
    }

    .curPager {
        font-size: xx-large;
    }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 标签管理 <span class="c-gray en">&gt;</span> 标签回收站 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="batch_redel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a></span> <span class="r">共有数据：<strong>@ViewBag.totalCount</strong> 条</span> </div>
    <form id="formList">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="9">已标签子列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="150">编号</th>
                    <th width="150">名称</th>
                    <th width="150">创建时间</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr class="text-c">
                        <td><input type="checkbox" value="@tag.Id" name="selectedIds"></td>
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.CreateDateTime</td>
                        <td class="td-manage">
                            <a title="恢复" href="javascript:;" onclick="role_redel(this,@tag.Id)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    @{
        var pager = new InShare.Common.Pager();
        pager.CurrentPageClassName = "curPager";
        pager.MaxPagerCount = 8;
        pager.PageIndex = (int)ViewBag.pageIndex;//这些数据，cshtml不知道，就必须让Action传递给我们
                                                 //对于所有cshtml要用到，但是又获取不到的数据，都由Action来获取，然后放到ViewBag或者Model中传递给cshtml
        pager.PageSize = 8;
        pager.TotalCount = (int)ViewBag.totalCount;
        pager.UrlPattern = "/Manage/Tag/DelList?pageIndex={pn}";
    }
    <div id="pager">@Html.Raw(pager.GetPagerHtml())</div>
</div>

@section FooterScript
{
    <script type="text/javascript">
        function batch_redel() {
            layer.confirm("确认要批量恢复这些数据吗？", function () {
                var formData = $("#formList").serializeArray();
                $.ajax({
                    url: "/Manage/Tag/ReBatchDelete",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    success: function (res) {
                        if (res.Status == "OK") {
                            location.reload();//刷新页面
                            layer.msg('已恢复!', { icon: 1, time: 2000 });
                        }
                        else if (res.Status == "Error") {
                            alert(res.ErrorMsg);
                        }
                        else {
                            alert("恢复失败");
                        }
                    },
                    error: function () {
                        alert("网络请求失败");
                    }
                });
            });
        }
        function role_redel(obj, id) {
            layer.confirm('确认要恢复吗？', function (index) {
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                    url: "/Manage/Tag/ReDelete/" + id,
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        if (res.Status == "OK") {
                            $(obj).parents("tr").remove();
                            layer.msg('已恢复!', { icon: 1, time: 2000 });
                        }
                        else if (res.Status == "Error") {
                            alert(res.ErrorMsg);
                        }
                        else {
                            layer.msg('恢复失败!', { icon: 2, time: 2000 });
                        }
                    }
                });
            });
        }
    </script>
}