@model InShare.Model.UserEntity

<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/homestyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/fav-icon.png" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!----webfonts---->
    @*<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>*@
    <!----//webfonts---->
    <!-- Global CSS for the page and tiles -->
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <!-- //Global CSS for the page and tiles -->
    <!---start-click-drop-down-menu----->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

    <!----start-dropdown--->
    <script type="text/javascript">
        //var $ = jQuery.noConflict();
        $(function () {
            $('#activator').click(function () {
                $('#box').animate({ 'top': '0px' }, 500);
            });
            $('#boxclose').click(function () {
                $('#box').animate({ 'top': '-700px' }, 500);
            });
        });
        $(document).ready(function () {
            //Hide (Collapse) the toggle containers on load
            $(".toggle_container").hide();
            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
            $(".trigger").click(function () {
                $(this).toggleClass("active").next().slideToggle("slow");
                return false; //Prevent the browser jump to the link anchor
            });

        });
    </script>
    <!----//End-dropdown--->
    <!---//End-click-drop-down-menu----->

    @RenderSection("head", required: false)

</head>
<body>
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="wrap">
            <div class="logo">
                <a href="/Home/Index"><img src="~/Content/img/logo.png" title="pinbal" /></a>
            </div>
            <div class="nav-icon">
                <a href="#" class="right_bt" id="activator"><span> </span> </a>
            </div>
            <div class="box" id="box">
                <div class="box_content">
                    <div class="box_content_center">
                        <div class="form_content">
                            <div class="menu_box_list">
                                <ul>
                                    <li><a href="#"><span>home</span></a></li>
                                    <li><a href="/Home/About"><span>About</span></a></li>
                                    <li><a href="#"><span>Works</span></a></li>
                                    <li><a href="#"><span>Clients</span></a></li>
                                    <li><a href="#"><span>Blog</span></a></li>
                                    <li><a href="#"><span>Contact</span></a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <a class="boxclose" id="boxclose"> <span> </span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-searchbar">
                <form>
                    <input type="text" /><input type="submit" value="" />
                </form>
            </div>
            <div class="userinfo">
                <div class="user">
                    <ul>
                        <li>
                            <!--点进去用户详情-->
                            @*<a href="#">
                                <img src="~/Content/img/user-pic.png" title="user-name" />
                                <span>Ipsum</span>
                            </a>*@

                            <a href="/User/@Session["userId"]">
                                <img src="~/Content/img/user-pic.png" title="user-name" />
                                <span>@Session["userName"]</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!---//End-header---->

    @RenderBody()

    @RenderSection("script", required: false)

    <!----start-footer--->
    <div class="footer">
        <p>&copy; @DateTime.Now.Year Inshare</p>
    </div>
    <!----//End-footer--->
</body>
</html>
